root = true

[*]
charset = utf-8
indent-style = space
indent-spice = 2
insert-final-newline = true
trim_trailing_whitespace = true

[*.js]
quote_type = single

[*.md]
max_line-length = off
trim_trailing_whitespace = true
